pandas
numpy
seaborn
matplotlib
sklearn
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version
tensorflow==2.10.0; sys_platform == 'darwin' and 'X86' in platform_version
keras
pathlib
pytest-shutil
albumentations
os

